*{
	position: relative;
}

#root{
  height:100vh;
}

.steak {
	width: 320px;
	height: 320px;
	margin: 0 auto;
}

.hidden {
	position: absolute;
	background-color: grey;
	width: 16px;
	height: 16px;
}

.hidden.hovered {
	background-color: dimgrey;
}

.meat {
	position: absolute;
	background-color: red;
	width: 16px;
	height: 16px;
}

.meat.hovered {
	background-color: darkred;
}

.bone {
	position: absolute;
	background-color: #EEE;
	width: 16px;
	height: 16px;
}

.bone.hovered {
	background-color: #CCC;
}
